* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
}

.container {
  background-image: url("bg-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  box-shadow: 4px 4px 8px rgb(0, 0, 0), -4px -4px 8px rgb(0, 0, 0);
  border-radius: 5px;
  backdrop-filter: blur(8px);
  padding: 20px 24px;
}

header h1 {
  font-size: 2.2rem;
  text-align: center;
  padding: 5px;
}

.signup-main div {
  margin-top: 12px;
  position: relative;
}

.signup-main div i {
  position: absolute;
  top: 37px;
  right: 10px;
  color: rgb(255, 0, 0);
  font-size: 20px;
}
.signup-main div label {
  font-size: 18px;
  font-weight: 600;
  text-shadow: 2px 2px 5px #200409;
}

.signup-main div input {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  margin-block: 5px;
  border: none;
  border-radius: 4px;
  outline: none;
  color: #000;
}

.signup-main div span {
  color: red;
  padding: 5px;
  font-size: 17px;
  text-shadow: 1px 1px 3px black;
  border-radius: 4px;
}

.signup-main div .err {
  display: none;
}

.signup-main div input[type="submit"] {
  border: none;
  outline: none;
  background-color: #0640e0;
  color: #fff;
  text-shadow: 2px 2px 5px rgb(17, 17, 17);

  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.5s;
}

.signup-main div input[type="submit"]:hover {
  background-color: #0d0d0e;
  text-shadow: 2px 2px 5px rgb(144, 144, 155);
}

.signup-footer {
  margin-top: 15px;
}

.signup-footer p {
  text-align: center;
}

.signup-footer p a {
  text-decoration: none;
}

.signup-footer p a:hover {
  text-decoration: underline;
}
